:root{
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper{
  padding-top: 10rem;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  width: 100%;
}

/*Navbar Wrapper*/
.navbarwrapper{
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #14719577, #ddddddbb);
  display: flex;
  cursor: pointer;
  position: fixed;
  top:0;
  left:0;
  padding: .75rem 0;
  z-index: 1;
}

.navbarwrapper span{
  margin: 0 0 0 10%;
}

.navbarwrapper div{
  font-size: 2.5rem;
  font-weight: 700;
  color: #147195;
  display: inline-block;
  transition: transform .15s cubic-bezier(0.76, 0, 0.24, 1);
}

.navbarwrapper ul{
  list-style: none;
  color: #147195;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

.navbarwrapper li{
  display: inline-block;
  padding: 0;
  margin: 0 2.5rem;
}

.navbarwrapper li:hover{
  color: white;
  transform: translateY(-0.25rem);
}

.navbarwrapper .zoom{
  animation: zoom .5s;
}
 
@keyframes zoom{
  50%{
      transform: scale(150%);
  }
  100%{
      transform: scale(100%);
  }
}

/*Problem Wrapper*/
.problemwrapper{
  text-align: center;
  width:80%;
  height: fit-content;
  box-shadow: 3px 3px 20px 3px #147195;
  background-color: #ffffffaa;
}

head{
  width: 100%;
}

h1{
  height: 1rem;
  color: #147195;
  font-size: 2.5rem;
  cursor: pointer;
}

h1::before, h1::after{
  content: '';
  display: block;
  width: 100%;
  height: .3rem;
  transition: transform .5s;
  background-color: #147195;
  transform: scaleX(0);
}

h1::before{
  transform-origin: right;
}

h1:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

h1::after{
  transform-origin: left;
}

h1:hover:after{
  transform: scaleX(1);
  transform-origin: right;
}

.content{
  margin: 5rem 1rem;
  font-size: 1.5rem;
  color: #147195;
  line-height: 2rem;
}


.content img{
  margin: 1rem;
  width: 60%;
  height:60%;
  pointer-events: none;
  transition: opacity 1s ease;
}



/*Solution Wrapper*/

.solutionwrapper{
  height: fit-content;
  width: 90%;
  color: #ffffff;
  background: #14719599;
  text-align: center;
}

.solutionwrapper .content{
  color: #ffffff;
}

.solutionhead{
  color: white;
  margin: 3rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.solutioncontainer{
  display: flex;
  justify-content: center;
  margin: 3rem 0;

}

.gridcontainer{
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 1rem;
  width: 70%;
}

.solutionspan{
  background: white;
  transition: opacity 1s ease;
  position:relative;

}

.solutionhead::before, .solutionhead::after{
  background-color: #ffffff;
}

.solutionspan img{
  width: 100%;
  height:100%;
  pointer-events: none;
  transition: opacity 1s ease;
}

.solutioncontent{
  margin: 1rem 0 0 0;
  font-size: 1rem;
}

.show{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 100%;
}
